<div class="row">

    <div class="col">
        <h1>Ng If</h1>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-warning mb-3" style="width: 100%;">

            <div class="card-body">
                <h5 class="card-title">{{frase.autor}}</h5>
                <p class="card-text">{{frase.mensaje}}.</p>
            </div>
        </div>
        <button (click)="mostrar = !mostrar" type="button" class="btn btn-outline-info  btn-block"> Mostrar/Ocultar</button>
    </div>
    <div class="col">
        <h1>Ng For</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let item of personajes; let i = index" class="list-group-item">{{i}}{{item}}</li>

        </ul>
    </div>
</div>